{% extends 'base.html.twig' %}

{% block title %}{episode.title}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1>{{episode.title}}</h1>

			<p>{{ episode.synopsis }}</p>


			<a href="{{ path("program_show", { id: program.id }) }}">
				Retour à
				{{program.title}}
			</a>

		</div>
	</div>
{% endblock %}
